a:hover {
  background-color: rgb(161, 161, 161);
}

button {
  background-color: var(--purple);
  color: white;
  font-weight: 600;
  font-size:1.2rem
}

.all-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  overflow: hidden;
}

.create-button {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 10px;
}

.create-project:hover {
  background-color: var(--background);
}

.project-actions {
  padding: 5px;
  padding-bottom: 10px;
  background-color: rgb(161, 161, 161);
  width: auto;
  border: 3px solid black;
  border-radius: 5px;
  border-top: none ;
}

.project-container {
  margin: 20px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-link {
  color: var(--purple);
  font-weight: 600;
  font-size: 2rem;
  padding: 0;
}

.project-image {
  width: 400px;
  height: 350px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: lightgray;
}