#all-profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  overflow: hidden;
}

.profile-image-on-profiles-page {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-card-on-profiles-page{
  margin: 20px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-link-on-profiles-page {
  display: flex;
  flex-direction: column;
}
