h2 {
  padding: 10px;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

.project-details-image {
  width: 500px;
  height: auto;
}

.project-details-container {
  margin: 20px;
  padding: 30px;
  word-wrap: break-word;
  width: 80vw;
  height: auto;
  max-width: 1000px;
  background-color: lightgray;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}

#progress-bar-aligner {
  display: flex;
  justify-content: center;
  padding: 12px 0px 5px 0px;
}

#project-management-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 30px 120px 30px 120px;
  background-color: lightgray;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}

#current-project-status {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#goals-table {
  width: 100%;
  display: flex;
  justify-content: center;
}

td, th {
  /* border: 1px solid rgb(190,190,190); */
  padding: 8px 15px;
}

th {
  /* background-color: rgb(235,235,235); */
}

td {
  text-align: left;
  max-width: 18rem;
  overflow-wrap: break-word;
}

#align-center {
  text-align: center;
}

.progress{
  width: 50vh
}