.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  color: var(--font);
  font-family: "Roboto";
}

.App-header {
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--font);
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App main h1 {
  color: var(--font);
  margin-bottom: 5vmin;
}