.add-goals-form {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#complete-input {
  display: flex;
  flex-direction: column;
}

.goal-btnn {
  display: flex;
  align-self: center;
}